<!-- this header is for the shop pages and login/signin pages-->

<!-- start header -->
<header id="top-bar" class="top-bar top-bar--style-2"> <div class="top-bar__bg" style="
						            background-color: #fff;
						            background-image: url({{asset('frontoffice/')}}img/top_bar_bg-2.png);
						            background-repeat: no-repeat;
						            background-position: center bottom;
						          "></div>

	<div class="container position-relative">
		<div class="row justify-content-between no-gutters">
			<a class="top-bar__logo site-logo" href="index.html">
				<img class="img-fluid" src="{{asset('frontoffice/')}}img/site_logo.png" alt="demo"/>
			</a>

			<a id="top-bar__navigation-toggler" class="top-bar__navigation-toggler top-bar__navigation-toggler--dark" href="javascript:void(0);">
				<span></span>
			</a>

			<div id="top-bar__inner" class="top-bar__inner text-lg-right">
				<div>
					<div class="d-lg-flex flex-lg-column-reverse align-items-lg-end">
						<nav id="top-bar__navigation" class="top-bar__navigation navigation" role="navigation">
							<ul>
								<li>
									<a href="index.html">Accueil</a>
								</li>

								<li class="active">
									<a href="shop_catalog.html">Boutique</a>
								</li>

								<ul class="submenu">
									<li>
										<a href="shop_catalog.html">Categ-1</a>
									</li>
									<li>
										<a href="single_product.html">Categ-2</a>
									</li>
									<li>
										<a href="cart.html">Categ-2</a>
									</li>
									<li>
										<a href="checkout.html">Checkout</a>
									</li>
									<li>
										<a href="sign_in.html">Sign In/Up</a>
									</li>
								</ul>
							</li>

							<li>
								<a href="about.html">à propos</a>
							</li>
							<li>
								<a href="gallery_1.html">Vie à la ferme</a>
							</li>
							<li>
								<a href="blog.html">Nos Actualités</a>
							</li>

							<li class="li-profile">
								<a href="sign_in.html">
									<i class="fontello-profile"></i>
								</a>
							</li>

							<li class="li-cart">
								<a href="cart.html">
									<i class="fontello-shopping-bag"></i>
									<span class="total">0</span>
								</a>
							</li>

							<li class="li-btn">
								<a class="custom-btn custom-btn--small custom-btn--style-2" href="contacts.html">Contactez-nous</a>
							</li>
						</ul>
					</nav>

					<div class="top-bar__contacts">
						<span>523 Sylvan Ave, 5th Floor Mountain View, CA 940 USA</span>
						<span>
							<a href="#">+1 (234) 56789</a>,&nbsp;&nbsp;<a href="#">+1 987 654 3210</a>
						</span>
						<span>
							<a href="mailto:support@agrocompany.com">support@agrocompany.com</a>
						</span>

						<div class="social-btns">
							<a class="fontello-twitter" href="#"></a>
							<a class="fontello-facebook" href="#"></a>
							<a class="fontello-linkedin-squared" href="#"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</header><!-- end header -->
