{% extends 'base_frontoffice.html.twig'%}
      {% block header %}
        {% include('includes/frontoffice/header.html.twig')%}
      {% endblock header %}
{% block content %}

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script><!-- start hero -->
      <div
        id="hero"
        class="jarallax"
        data-speed="0.7"
        data-img-position="50% 80%"
        style="background-image: url({{asset('frontoffice/')}}img/intro_img/4.jpg)"
      >
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-7">
              <h1 class="__title"><span>Our</span> Blog</h1>

              <p>
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content
                here, content here', making it look like readable English
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- end hero -->

      <!-- start main -->
      <main role="main">
        <!-- Common styles
				================================================== -->
        <link rel="stylesheet" href="{{asset('frontoffice/')}}css/style.min.css" type="text/css" />

        <!-- Load lazyLoad scripts
				================================================== -->
        <script>
          (function (w, d) {
            var m = d.getElementsByTagName("main")[0],
              s = d.createElement("script"),
              v = !("IntersectionObserver" in w) ? "8.17.0" : "10.19.0",
              o = {
                elements_selector: ".lazy",
                data_src: "src",
                data_srcset: "srcset",
                threshold: 500,
                callback_enter: function (element) {},
                callback_load: function (element) {
                  element.removeAttribute("data-src");

                  oTimeout = setTimeout(function () {
                    clearTimeout(oTimeout);

                    AOS.refresh();
                  }, 1000);
                },
                callback_set: function (element) {},
                callback_error: function (element) {
                  element.src =
                    "https://placeholdit.imgix.net/~text?txtsize=21&txt=Image%20not%20load&w=200&h=200";
                },
              };
            s.type = "text/javascript";
            s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
            s.src =
              "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" +
              v +
              "/dist/lazyload.min.js";
            m.appendChild(s);
            // m.insertBefore(s, m.firstChild);
            w.lazyLoadOptions = o;
          })(window, document);


          // filter JS

          function chooseCategory() {
            var v = document.getElementById("choiceId").value;
            //on recupere l URL active
            const url = new URL(window.location.href);
            // on lance la requette ajax
            fetch(url.pathname + "?" + "catId="+v.toString() + "&ajax=1",{
              headers: {
                "X-Requested-With": "XMLHttpRequest"
              }
            }
            ).then(response=>response.json()
            ).then(data => {
              // chercher la zonne de continue
              var content = document.getElementById("blog_content");
              //remplace le continue
              content.innerHTML = data.content;
                    }
            ).catch(e=>console.log(e));
          }



        </script>

        <!-- start blog list -->

        <section class="section">
          <div class="container">
            <select id="choiceId" name="choiceId" class="mdb-select md-form" onchange="chooseCategory()">
              <option value="" disabled selected>Filter selon Categorie</option>
              <option value="0">Tous</option>
              {% for c in category %}
                <option value={{ c.id }}>{{ c.name }}</option>
              {% endfor %}
            </select>
            <br> <br>
            <div class="posts posts--style-1">
              <div class="__inner">
                <div class="row" id="blog_content">

{% include "frontoffice/blogList.html.twig" %}

                </div>
              </div>
            </div>

          </div>
        </section>
        <!-- start blog list -->

        <section class="section section--no-pt">
          <div class="container">
            <ul class="page-nav">
              <li class="page-nav__item">
                <a href="#" class="page-nav__link page-nav__link--prev"
                  ><i class="ico fontello-left-1"></i>Older post</a
                >
              </li>
              <li class="page-nav__item">
                <a href="#" class="page-nav__link page-nav__link--next"
                  >Newer post<i class="ico fontello-right-1"></i
                ></a>
              </li>
            </ul>
          </div>
        </section>
        <!-- end section -->
      </main>
      <!-- end main -->

{% endblock content %}
      {% block footer %}
        {% include('includes/frontoffice/footer.html.twig')%}
      {% endblock footer %}