{% extends 'base_frontoffice.html.twig'%} {% block header %} {%
include('includes/frontoffice/header.html.twig')%} {% block stylesheet %}
<link
  rel="stylesheet"
  href="{{ asset('frontoffice/css/contact_form_style.css') }}"
  type="text/css"
/>
{% endblock %} {% endblock header %} {% block content %}
<!-- start hero -->
<div
  id="hero"
  class="jarallax"
  data-speed="0.7"
  data-img-position="50% 55%"
  style="background-image: url({{
    asset('frontoffice/')
  }}img/poule-couvrant-oeufs.jpg); "
>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <h1 class="__title"><span>Scoops feraga</span> Contactez-nous</h1>

        <p>
          The point of using Lorem Ipsum is that it has a more-or-less normal
          distribution of letters, as opposed to using 'Content here, content
          here', making it look like readable English
        </p>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->

<!-- start main -->
<main class="main-container" role="main">
  <!-- Common styles
				================================================== -->
  <link
    rel="stylesheet"
    href="{{ asset('frontoffice/') }}css/style.min.css"
    type="text/css"
  />

  <!-- Load lazyLoad scripts
				================================================== -->
  <script>
    (function (w, d) {
      var m = d.getElementsByTagName("main")[0],
        s = d.createElement("script"),
        v = !("IntersectionObserver" in w) ? "8.17.0" : "10.19.0",
        o = {
          elements_selector: ".lazy",
          data_src: "src",
          data_srcset: "srcset",
          threshold: 500,
          callback_enter: function (element) {},
          callback_load: function (element) {
            element.removeAttribute("data-src");

            oTimeout = setTimeout(function () {
              clearTimeout(oTimeout);

              AOS.refresh();
            }, 1000);
          },
          callback_set: function (element) {},
          callback_error: function (element) {
            element.src =
              "https://placeholdit.imgix.net/~text?txtsize=21&txt=Image%20not%20load&w=200&h=200";
          },
        };
      s.type = "text/javascript";
      s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
      s.src =
        "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" +
        v +
        "/dist/lazyload.min.js";
      m.appendChild(s);
      // m.insertBefore(s, m.firstChild);
      w.lazyLoadOptions = o;
    })(window, document);
  </script>

  <!-- start section -->
  <div class="form-container">
    <p class="form_use_icon"><i class="fas fa-user"></i></p>
    <h1 class="title-contact-form">Demande de contact</h1>
    <form>
      <input type="text" placeholder="Nom complet" />
      <input type="text" placeholder="Adresse Email" />
      <textarea
        id="subject"
        name="subject"
        placeholder="Laissez nous un message."
        style="height: 200px"
      ></textarea>
      <button class="btn-send" type="submit">
        <i class="fa fa-paper-plane" style="font-size: 20px"></i>
        Envoyer ma demande
      </button>
      <p class=" contact-form-lk">
        Ou contactez-nous :
        <a class="contact-form-link" href="tel:+237 6 52 10 93 85"
          >+237 52 10 98 85</a
        >
        /
        <a class="contact-form-link" href="mailto:contact@scoopsferaga.com"
          >contact@scoopsferaga.com</a
        >
      </p>
    </form>
  </div>
  <!-- end section -->
</main>
<!-- end main -->
{% endblock content %} {% block footer %} {%
include('includes/frontoffice/footer.html.twig')%} {% endblock footer %}
