<!--<div class="row">
<span class="iconify" data-icon="mdi:heart"
      style="font-size:30px ; color: red ; margin-left: 10px"> </span><span style="margin-left:7px ; margin-top: 10px"> {#totalLikes#} J'aime(s)</span></div> -->
 <b>{{ totalLikes}} J'aime(s)</b>