<!DOCTYPE html>
<html class="no-js" lang="en">

	<head>
		<title>AGRO</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui" />

		<meta name="theme-color" content="#FCDB5A" />
		<meta name="msapplication-navbutton-color" content="#FCDB5A" />
		<meta name="apple-mobile-web-app-status-bar-style" content="#FCDB5A" />

		<!-- Favicons
		================================================== -->
		<link rel="shortcut icon" href="img/favicon.ico">
		<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

		<!-- Critical styles
		================================================== -->
		<link rel="stylesheet" href="css/critical.min.css" type="text/css">

		<!-- Load google font
		================================================== -->
		<script type="text/javascript">
			WebFontConfig = {
				google: { families: [ 'Open+Sans:300,400,500,600,700,800', 'Raleway:100,400,400i,500,500i,700,700i,900'] }
			};
			(function() {
				var wf = document.createElement('script');
				wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
				wf.type = 'text/javascript';
				wf.async = 'true';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wf, s);
			})();
		</script>

		<!-- Load other scripts
		================================================== -->
		<script type="text/javascript">
			var _html = document.documentElement,
				isTouch = (('ontouchstart' in _html) || (navigator.msMaxTouchPoints > 0) || (navigator.maxTouchPoints));

			_html.className = _html.className.replace("no-js","js");
			_html.classList.add( isTouch ? "touch" : "no-touch");
		</script>
		<script type="text/javascript" src="js/device.min.js"></script>
	</head>

	<body>
		<div id="app">
			<!-- start header -->
			<header id="top-bar" class="top-bar top-bar--style-1">
				<div class="top-bar__bg" style="background-color: #24292c;background-image: url(img/top_bar_bg-1.jpg);background-repeat: no-repeat;background-position: left bottom;"></div>

				<div class="container-fluid">
					<div class="row align-items-center justify-content-between no-gutters">

						<a class="top-bar__logo site-logo" href="index.html">
							<img class="img-fluid" src="img/site_logo.png" alt="demo" />
						</a>

						<a id="top-bar__navigation-toggler" class="top-bar__navigation-toggler top-bar__navigation-toggler--light" href="javascript:void(0);"><span></span></a>

						<div id="top-bar__inner" class="top-bar__inner">
							<div>
								<nav id="top-bar__navigation" class="top-bar__navigation navigation" role="navigation">
									<ul>
										<li class="has-submenu">
											<a href="javascript:void(0);">Home</a>

											<ul class="submenu">
												<li><a href="index.html">Home 1</a></li>
												<li><a href="index_2.html">Home 2</a></li>
												<li><a href="index_3.html">Home 3</a></li>
												<li><a href="index_4.html">Home Shop</a></li>
											</ul>
										</li>

										<li>
											<a href="about.html">About</a>
										</li>

										<li class="active has-submenu">
											<a href="javascript:void(0);">Pages</a>

											<ul class="submenu">
												<li><a href="services.html">Services</a></li>
												<li><a href="products.html">Products</a></li>
												<li><a href="products_details.html">Product Details</a></li>
												<li><a href="gallery_1.html">Gallery 1</a></li>
												<li><a href="gallery_2.html">Gallery 2</a></li>
												<li class="active"><a href="typography.html">Typography</a></li>
												<li><a href="404.html">404 page</a></li>
											</ul>
										</li>

										<li class="has-submenu">
											<a href="javascript:void(0);">Shop</a>

											<ul class="submenu">
												<li><a href="shop_catalog.html">Shop Catalog</a></li>
												<li><a href="single_product.html">Single Product</a></li>
												<li><a href="cart.html">Cart</a></li>
												<li><a href="checkout.html">Checkout</a></li>
												<li><a href="sign_in.html">Sign In/Up</a></li>
											</ul>
										</li>

										<li>
											<a href="blog.html">Blog</a>
										</li>

										<li>
											<a href="contacts.html">Contacts</a>
										</li>

										<li class="li-btn">
											<a class="custom-btn custom-btn--small custom-btn--style-4" href="#">Get in Touch</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>

					</div>
				</div>
			</header>
			<!-- end header -->

			<!-- start hero -->
			<div id="hero" class="jarallax" data-speed="0.7" data-img-position="50% 75%" style="background-image: url(img/intro_img/6.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-7">
							<h1 class="__title"><span>AgRO</span> Typography</h1>

							<p>
								The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- end hero -->

			<!-- start main -->
			<main role="main">
				<!-- Common styles
				================================================== -->
				<link rel="stylesheet" href="css/style.min.css" type="text/css">

				<!-- Load lazyLoad scripts
				================================================== -->
				<script>
					(function(w, d){
						var m = d.getElementsByTagName('main')[0],
							s = d.createElement("script"),
							v = !("IntersectionObserver" in w) ? "8.17.0" : "10.19.0",
							o = {
								elements_selector: ".lazy",
								data_src: 'src',
								data_srcset: 'srcset',
								threshold: 500,
								callback_enter: function (element) {

								},
								callback_load: function (element) {
									element.removeAttribute('data-src')

									oTimeout = setTimeout(function ()
									{
										clearTimeout(oTimeout);

										AOS.refresh();
									}, 1000);
								},
								callback_set: function (element) {

								},
								callback_error: function(element) {
									element.src = "https://placeholdit.imgix.net/~text?txtsize=21&txt=Image%20not%20load&w=200&h=200";
								}
							};
						s.type = 'text/javascript';
						s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
						s.src = "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" + v + "/dist/lazyload.min.js";
						m.appendChild(s);
						// m.insertBefore(s, m.firstChild);
						w.lazyLoadOptions = o;
					}(window, document));
				</script>

				<!-- start section -->
				<section class="section">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-8 col-lg-9">
								<div class="content-container">
									<h1>H1 Heading <span>Looks Like</span></h1>
									<h2>H2 Heading <span>Looks Like This</span></h2>
									<h3>H3 Heading <span>Looks Like This</span></h3>
									<h4>H4 Heading <span>Looks Like This</span></h4>
									<h5>H5 Heading <span>Looks Like This</span></h5>
									<h6>H6 Heading <span>Looks Like This</span></h6>

									<hr>

									<h6>Paragraphs</h6>

									<p>
										We believe in helping brands create <a href="#">through strategy</a>, story-telling, digital products, and integrated experiences on web, mobile, and in the world. And you're here, friends, because you also believe.
									</p>

									<p>
										Our team has a passion for making things with real value. This has led us to assemble a multi-talented group that can do just about anything: from building sets to photographing food, crafting websites to developing apps, beautiful design to adventure cinematography. Designers, engineers, creatives, makers, developers, artists, unite. Let’s do something real-special together.
									</p>

									<hr>

									<h6>Dropcaps</h6>

									<p class="dropcaps">
										<span class="first-letter">L</span> We believe in helping brands create through strategy, and integrated experiences on web, mobile, and in the world. And you're here, friends, because you also believe.Our team has a passion for making things with real value. This has led us to assemble a multi-talented group that can do just about anything: from building sets to photographing food, crafting websites to developing apps, beautiful design to adventure cinematography. Designers, engineers, creatives, makers, developers, artists, unite. Let’s do something real-special together.
									</p>

									<hr>

									<h6>Blockquotes</h6>

									<blockquote class="blockquot">
										<p>
											<i>This has led us to assemble a multi-talented group that can do just about anything: from building sets to photographing food, crafting websites to developing apps, beautiful design to adventure cinematography. Designers, engineers, creatives,</i>
										</p>
									</blockquote>

									<hr>

									<h6>Highlighter</h6>

									<p class="highlighter">
										We believe in helping brands create <span>through strategy, story-telling,</span> digital products, and integrated experiences on web, mobile, and in the world. And you're here, friends, because you also believe. Our team has a passion for making things with real value. This has led us to assemble a multi-talented group that can do just about anything: from building sets to photographing food, crafting websites to developing apps, beautiful design to adventure cinematography. Designers, engineers, creatives, makers, developers, artists, unite. Let’s do something real-special together.
									</p>

									<hr>

									<h6>Standard Listings</h6>

									<div class="row">
										<div class="col-lg-6">
											<div class="col-MB-20">
												<ol>
													<li>Enim congue blandit lorem ipsum dolor sit amet.</li>
													<li>Interdum finibus. Vestibulum ante ipsum primis.</li>
													<li>Posuere cubilia cras blandit porttitor arcu volutp.</li>
													<li>Vel <a href="#">tempus sapien. Vivamus</a> aliquam euismod.</li>
												</ol>
											</div>
										</div>

										<div class="col-lg-6">
											<div class="col-MB-20">
												<ul>
													<li>Enim congue blandit lorem ipsum dolor sit amet.</li>
													<li>Interdum finibus. Vestibulum ante ipsum primis.</li>
													<li>Posuere cubilia cras blandit porttitor arcu volutp.</li>
													<li>Vel <a href="#">tempus sapien. Vivamus</a> aliquam euismod.</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-12 my-6 d-md-none"></div>

							<div class="col-12 col-md-4 col-lg-3">
								<aside class="sidebar">
									<!-- start widget -->
									<div class="widget widget--text">
										<h4 class="h6 widget-title">About</h4>

										<p>
											We believe in helping brands create through strategy, story-telling, digital products, and integrated experiences on web, mobile, and in the world.
										</p>
									</div>
									<!-- end widget -->

									<!-- start widget -->
									<div class="widget widget--categories">
										<h4 class="h6 widget-title">CAtegories</h4>

										<ul class="list">
											<li class="list__item">
												<a class="list__item__link" href="#">Strategy</a>
												<span>(3)</span>
											</li>

											<li class="list__item">
												<a class="list__item__link" href="#">Technology</a>
												<span>(5)</span>
											</li>

											<li class="list__item">
												<a class="list__item__link" href="#">Creative</a>
												<span>(2)</span>
											</li>

											<li class="list__item">
												<a class="list__item__link" href="#">Content</a>
												<span>(8)</span>
											</li>
										</ul>
									</div>
									<!-- end widget -->

									<!-- start widget -->
									<div class="widget widget--search">
										<form class="form--horizontal" action="#" method="get">
											<div class="input-wrp">
												<input class="textfield" name="s" type="text" placeholder="Search" />
											</div>

											<button class="custom-btn custom-btn--tiny custom-btn--style-1" type="submit" role="button">Find</button>
										</form>
									</div>
									<!-- end widget -->

									<!-- start widget -->
									<div class="widget widget--posts">
										<h4 class="h6 widget-title">Features Posts</h4>

										<div>
											<article>
												<a class="link" href="#">
													<img class="lazy" width="100" height="75" src="img/blank.gif" data-src="img/posts_img/1s.jpg" alt="demo" />
												</a>

												<div>
													This has led us to assemble a multi

													<span class="date-post">April 12, 2017</span>
												</div>
											</article>

											<article>
												<a class="link" href="#">
													<img class="lazy" width="100" height="75" src="img/blank.gif" data-src="img/posts_img/2s.jpg" alt="demo" />
												</a>

												<div>
													Our team has a passion for making things with

													<span class="date-post">April 12, 2017</span>
												</div>
											</article>
										</div>
									</div>
									<!-- end widget -->

									<!-- start widget -->
									<div class="widget widget--tags">
										<h4 class="h6 widget-title">Popular Tags</h4>

										<ul>
											<li><a href="#">Art</a></li>
											<li><a href="#">design</a></li>
											<li><a href="#">concept</a></li>
											<li><a href="#">Media</a></li>
											<li><a href="#">Photography</a></li>
											<li><a href="#">UI</a></li>
										</ul>
									</div>
									<!-- end widget -->

									<!-- start widget -->
									<div class="widget widget--banner">
										<a href="#"><img class="img-fluid  lazy" src="img/blank.gif" data-src="img/widget_banner.jpg" alt="demo" /></a>
									</div>
									<!-- end widget -->
								</aside>
							</div>
						</div>
					</div>
				</section>
				<!-- end section -->

				<!-- start section -->
				<section class="section section--dark-bg">
					<div class="container">
						<div class="section-heading section-heading--center section-heading--white" data-aos="fade">
							<h2 class="__title">Get <span>in touch</span></h2>

							<p>Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
						</div>

						<form class="contact-form js-contact-form" action="#" data-aos="fade">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="input-wrp">
										<input class="textfield" name="name" type="text" placeholder="Name" />
									</div>
								</div>

								<div class="col-12 col-md-6">
									<div class="input-wrp">
										<input class="textfield" name="email" type="text" placeholder="E-mail" />
									</div>
								</div>
							</div>

							<div class="input-wrp">
								<textarea class="textfield" name="message" placeholder="Comments"></textarea>
							</div>

							<button class="custom-btn custom-btn--medium custom-btn--style-3 wide" type="submit" role="button">Send</button>

							<div class="form__note"></div>
						</form>
					</div>
				</section>
				<!-- end section -->

				<!-- start section -->
				<section class="section section--no-pt section--no-pb">
					<!-- this is demo key "AIzaSyBXQROV5YMCERGIIuwxrmaZbBl_Wm4Dy5U" -->
					<div class="g_map" data-api-key="AIzaSyBXQROV5YMCERGIIuwxrmaZbBl_Wm4Dy5U" data-longitude="44.958309" data-latitude="34.109925" data-marker="img/marker.png" style="min-height: 255px"></div>
				</section>
				<!-- end section -->
			</main>
			<!-- end main -->

			<!-- start footer -->
			<footer id="footer" class="footer--style-1">
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-auto">
							<div class="footer__item">
								<a class="site-logo" href="index.html">
									<img class="img-fluid  lazy" src="img/blank.gif" data-src="img/site_logo.png" alt="demo" />
								</a>
							</div>
						</div>

						<div class="col-12 col-sm">
							<div class="row align-items-md-center no-gutters">
								<div class="col-12 col-md">
									<div class="footer__item">
										<address>
											<p>
												523 Sylvan Ave, 5th Floor Mountain View, CA 94041USA
											</p>

											<p>
												+1 (234) 56789,  +1 987 654 3210 <br>
												<a href="mailto:support@agrocompany.com">support@agrocompany.com</a>
											</p>
										</address>
									</div>
								</div>

								<div class="col-12 col-md-auto">
									<div class="footer__item">
										<div class="social-btns">
											<a href="#"><i class="fontello-twitter"></i></a>
											<a href="#"><i class="fontello-facebook"></i></a>
											<a href="#"><i class="fontello-linkedin-squared"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-12 col-lg-5 col-xl-4 offset-xl-1">
							<div class="footer__item">
								<h5 class="h6">Get a newslatter</h5>

								<form class="form--horizontal" action="#">
									<div class="input-wrp">
										<input class="textfield" name="s" type="text" placeholder="Your E-mail" />
									</div>

									<button class="custom-btn custom-btn--medium custom-btn--style-1" type="submit" role="button">subscribe</button>
								</form>
							</div>
						</div>
					</div>

					<div class="row flex-lg-row-reverse">
						<div class="col-12 col-lg-6">
							<div class="footer__item">
								<nav id="footer__navigation" class="navigation  text-lg-right">
									<ul>
										<li class="active"><a href="index.html">Home</a></li>
										<li><a href="#">About</a></li>
										<li><a href="#">Pages</a></li>
										<li><a href="#">Gallery</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">Contacts</a></li>
									</ul>
								</nav>
							</div>
						</div>

						<div class="col-12 col-lg-6">
							<div class="footer__item">
								<span class="__copy">© 2019 Agro. All rights reserved. Created by <a class="__dev" href="https://themeforest.net/user/artureanec" target="_blank">Artureanec</a></span>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- end footer -->
		</div>

		<div id="btn-to-top-wrap">
			<a id="btn-to-top" class="circled" href="javascript:void(0);" data-visible-offset="800"></a>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-2.2.4.min.js"><\/script>')</script>

		<script type="text/javascript" src="js/main.min.js"></script>
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='https://www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X','auto');ga('send','pageview');
		</script>
	</body>
</html>